$color_default_for_text: #252a2b;
$color_border_input: #252a2b;
$color_border_button: #042dc2;
$color_line_border: #dfe0e1;
$color_button: #042dc2;
$color_button_hover: #042dc2d5;
$color_default_for_hover_text: #042dc2;
$color_default_for_hover_text_to_color: #536cc9;
