@forward 'variables';
.icon {
  height: 24px;
  width: 24px;
}
.block_element_shadow {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
